---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=<REDACTED>&client_secret=<REDACTED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - d314aa3851516197
    body:
      encoding: UTF-8
      string: '{"access_token":"<REDACTED>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 09 Dec 2024 09:57:01 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&market=TW&q=%E5%91%8A%E4%BA%94%E4%BA%BA%20%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImJkMGRkMGI0ZDQ1NzNjMWNlYjU5NmZkYWIyNjI5NTAxIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=1&query=%E5%91%8A%E4%BA%94%E4%BA%BA%20%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93&type=track&market=TW","limit":1,"next":"https://api.spotify.com/v1/search?offset=1&limit=1&query=%E5%91%8A%E4%BA%94%E4%BA%BA%20%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93&type=track&market=TW","offset":0,"previous":null,"total":801,"items":[{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6xErgeZYatiaQ36SB5bvi8"},"href":"https://api.spotify.com/v1/artists/6xErgeZYatiaQ36SB5bvi8","id":"6xErgeZYatiaQ36SB5bvi8","name":"告五人","type":"artist","uri":"spotify:artist:6xErgeZYatiaQ36SB5bvi8"}],"external_urls":{"spotify":"https://open.spotify.com/album/5mahTh3xdvMSH7N01fAEFg"},"href":"https://api.spotify.com/v1/albums/5mahTh3xdvMSH7N01fAEFg","id":"5mahTh3xdvMSH7N01fAEFg","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273b031ee53413ef37f35096a14"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02b031ee53413ef37f35096a14"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851b031ee53413ef37f35096a14"}],"is_playable":true,"name":"好不容易","release_date":"2021-12-13","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:5mahTh3xdvMSH7N01fAEFg"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6xErgeZYatiaQ36SB5bvi8"},"href":"https://api.spotify.com/v1/artists/6xErgeZYatiaQ36SB5bvi8","id":"6xErgeZYatiaQ36SB5bvi8","name":"告五人","type":"artist","uri":"spotify:artist:6xErgeZYatiaQ36SB5bvi8"}],"disc_number":1,"duration_ms":295466,"explicit":false,"external_ids":{"isrc":"TWK232183010"},"external_urls":{"spotify":"https://open.spotify.com/track/6jNy9WM3zyvG9E5bdVALl8"},"href":"https://api.spotify.com/v1/tracks/6jNy9WM3zyvG9E5bdVALl8","id":"6jNy9WM3zyvG9E5bdVALl8","is_local":false,"is_playable":true,"name":"好不容易
        (《華燈初上》片尾曲)","popularity":58,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:6jNy9WM3zyvG9E5bdVALl8"}]}}'
  recorded_at: Mon, 09 Dec 2024 09:57:01 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93%20(%E3%80%8A%E8%8F%AF%E7%87%88%E5%88%9D%E4%B8%8A%E3%80%8B%E7%89%87%E5%B0%BE%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6931148,"name":"好不容易 (《華燈初上》片尾曲)","trackName":"好不容易 (《華燈初上》片尾曲)","artistName":"告五人","albumName":"好不容易
        (《華燈初上》片尾曲) - Single","duration":295.0,"instrumental":false,"plainLyrics":"城市滴答
        小巷滴答 沈默滴答\n你的手慢熱的體溫\n方向錯亂 天氣預報 不準 雨傘忘了拿\n我的手無處安放\n包括我的心 像旋轉木馬\n\n或許這就是註定\n註定失敗的結局\n成熟帶來的孤寂\n如滾水在心中滿溢\n\n我的心
        你放在哪裡\n或許你 根本就不在意\n錯把承諾當有趣\n怎麼對得起 你我炙熱的痕跡\n\n你的心 你放在哪裡\n再追究 也毫無意義\n接受慌亂的思緒\n總比到頭來
        面對無聲的失去\n無法開口 說聲好不容易\n\n城市滴答 小巷滴答 沈默滴答\n你的手慢熱的體溫\n方向錯亂 天氣預報 不準 雨傘忘了拿\n我的手無處安放\n包括我的心
        像旋轉木馬\n\n或許這就是註定\n註定失敗的結局\n成熟帶來的孤寂\n如滾水在心中滿溢\n\n我的心 你放在哪裡\n或許你 根本就不在意\n錯把承諾當有趣\n怎麼對得起
        你我炙熱的痕跡\n\n你的心 你放在哪裡\n再追究 也毫無意義\n接受慌亂的思緒\n總比到頭來 面對無聲的失去\n無法開口 說聲好不容易\nWoo
        woo woo woo woo woo\n\n我的心 你放在哪裡\n或許我 也不再沈迷\n結束不安的遊戲\n認輸就可以 自由自在的掏心\n終於開口\n說聲好不容易","syncedLyrics":"[00:35.40]
        城市滴答 小巷滴答 沈默滴答\n[00:38.95] 你的手慢熱的體溫\n[00:41.44] 方向錯亂 天氣預報 不準 雨傘忘了拿\n[00:45.65]
        我的手無處安放\n[00:48.07] 包括我的心 像旋轉木馬\n[00:54.16] \n[00:58.17] 或許這就是註定\n[01:03.44]
        註定失敗的結局\n[01:09.07] 成熟帶來的孤寂\n[01:14.87] 如滾水在心中滿溢\n[01:21.78] 我的心 你放在哪裡\n[01:27.13]
        或許你 根本就不在意\n[01:32.33] 錯把承諾當有趣\n[01:37.88] 怎麼對得起 你我炙熱的痕跡\n[01:44.16] 你的心 你放在哪裡\n[01:49.42]
        再追究 也毫無意義\n[01:54.97] 接受慌亂的思緒\n[01:59.82] 總比到頭來 面對無聲的失去\n[02:05.76] 無法開口 說聲好不容易\n[02:15.40]
        城市滴答 小巷滴答 沈默滴答\n[02:18.27] 你的手慢熱的體溫\n[02:20.93] 方向錯亂 天氣預報 不準 雨傘忘了拿\n[02:24.66]
        我的手無處安放\n[02:27.76] 包括我的心 像旋轉木馬\n[02:34.12] \n[02:37.01] 或許這就是註定\n[02:42.79]
        註定失敗的結局\n[02:48.23] 成熟帶來的孤寂\n[02:54.02] 如滾水在心中滿溢\n[03:01.27] 我的心 你放在哪裡\n[03:06.12]
        或許你 根本就不在意\n[03:11.93] 錯把承諾當有趣\n[03:17.44] 怎麼對得起 你我炙熱的痕跡\n[03:23.43] 你的心 你放在哪裡\n[03:28.89]
        再追究 也毫無意義\n[03:34.19] 接受慌亂的思緒\n[03:39.39] 總比到頭來 面對無聲的失去\n[03:44.86] 無法開口 說聲好不容易\n[03:52.36]
        Woo woo woo woo woo woo\n[04:01.69] \n[04:23.53] 我的心 你放在哪裡\n[04:28.24] 或許我
        也不再沈迷\n[04:33.65] 結束不安的遊戲\n[04:39.42] 認輸就可以 自由自在的掏心\n[04:45.27] 終於開口\n[04:49.38]
        說聲好不容易\n[04:53.89] "}'
  recorded_at: Mon, 09 Dec 2024 09:57:02 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=No%20Party%20For%20Cao%20Dong%20%E5%B1%B1%E6%B5%B7&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjIxZmViMzM4ZDVhNjZhMDJiZDM3MDk3NmJiNTRiZmJjIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E5%B1%B1%E6%B5%B7
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9128396,"name":"山海","trackName":"山海","artistName":"No Party For
        Cao Dong","albumName":"醜奴兒","duration":251.053,"instrumental":false,"plainLyrics":"我看著
        天真的我自己\n出現在 沒有我的故事裡\n等待著 我的回應\n一個為何至此 的原因\n\n他明白 他明白 我給不起\n於是轉身向山裡走去\n他明白
        他明白 我給不起\n於是轉身向大海走去\n\n我聽著那少年的聲音\n在還有未來的過去\n渴望著美好結局\n卻沒能成為自己\n\n他明白 他明白 我給不起\n於是轉身向山裡走去\n他明白
        他明白 我給不起\n於是轉身向大海走去","syncedLyrics":"[00:25.23] 我看著 天真的我自己\n[00:35.07] \n[00:37.43]
        出現在 沒有我的故事裡\n[00:49.28] 等待著 我的回應\n[00:58.75] 一個為何至此 的原因\n[01:09.44] \n[01:13.09]
        他明白 他明白 我給不起\n[01:20.54] 於是轉身向山裡走去\n[01:25.19] 他明白 他明白 我給不起\n[01:32.57] 於是轉身向大海走去\n[01:38.02]
        \n[02:37.19] 我聽著那少年的聲音\n[02:44.78] 在還有未來的過去\n[02:49.30] 渴望著美好結局\n[02:56.73]
        卻沒能成為自己\n[03:00.97] 他明白 他明白 我給不起\n[03:08.56] 於是轉身向山裡走去\n[03:12.96] 他明白 他明白
        我給不起\n[03:20.61] 於是轉身向大海走去\n[03:25.05] "}'
  recorded_at: Mon, 09 Dec 2024 10:03:39 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E7%BC%B8
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9323692,"name":"缸","trackName":"缸","artistName":"No Party for
        Cao Dong","albumName":"瓦合","duration":187.0,"instrumental":false,"plainLyrics":"預備
        各就各位\n一二三 跳 跳進染缸\n看誰先 游向慾望\n\n膨脹 膨脹 再膨脹\n就像那數字一樣\n\n誰沒有信仰 誰沒有思想\n誰沒有最便宜的酒來陪葬\n\n一二三跳
        跳進染缸\n看誰先 游向慾望\n\n遺忘 遺忘 再遺忘\n就像我們記得的那樣\n缸裡有夢想 缸底有爛帳\n誰賠了信仰 誰對自己撒謊\n誰喝著最便宜的酒去陪葬\n\n一二三跳
        跳進染缸\n看誰先 游向慾望\n可就連食色性也終將\n游向死亡 游向死亡\n\n於是砸了染缸 砸了染缸\n才看見大海茫茫\n而你我仍不知身在何方","syncedLyrics":"[00:01.82]
        預備 各就各位\n[00:04.28] 一二三 跳 跳進染缸\n[00:10.39] 看誰先 游向慾望\n[00:19.65] \n[00:35.60]
        膨脹 膨脹 再膨脹\n[00:39.53] 就像那數字一樣\n[00:43.96] 誰沒有信仰 誰沒有思想\n[00:47.36] 誰沒有最便宜的酒來陪葬\n[00:53.79]
        一二三跳 跳進染缸\n[01:02.82] 看誰先 游向慾望\n[01:12.08] \n[01:28.28] 遺忘 遺忘 再遺忘\n[01:32.18]
        就像我們記得的那樣\n[01:36.56] 缸裡有夢想 缸底有爛帳\n[01:44.93] 誰賠了信仰 誰對自己撒謊\n[01:48.43] 誰喝著最便宜的酒去陪葬\n[01:54.64]
        一二三跳 跳進染缸\n[02:03.97] 看誰先 游向慾望\n[02:13.16] 可就連食色性也終將\n[02:19.19] 游向死亡 游向死亡\n[02:28.68]
        於是砸了染缸 砸了染缸\n[02:35.83] 才看見大海茫茫\n[02:41.06] 而你我仍不知身在何方\n[02:47.10] "}'
  recorded_at: Mon, 09 Dec 2024 10:03:40 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E5%BA%8A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9323695,"name":"床","trackName":"床","artistName":"No Party for
        Cao Dong","albumName":"瓦合","duration":232.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Mon, 09 Dec 2024 10:03:41 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E4%BD%86
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":14759732,"name":"但","trackName":"但","artistName":"No Party For
        Cao Dong","albumName":"瓦合","duration":142.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Mon, 09 Dec 2024 10:03:43 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E7%A9%BA
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9323693,"name":"空","trackName":"空","artistName":"No Party for
        Cao Dong","albumName":"瓦合","duration":178.0,"instrumental":false,"plainLyrics":"空間是一格半
        誰也出不去\n幾寸也不滿意\n思想是循環 溫飽思淫慾\n真理就是沒真理\n\n在成人之前 真想先成為自己\n在世界毀滅之前 真想先毀滅自己\n\n我向我看齊
        於是一直往下去\n沒人在看你\n萬物皆有靈 隻是我太空虛\n\n在成人之前 真想先成為自己\n在世界毀滅之前 真想先毀滅自己\n真理就是沒真理\n那誰想聽
        那誰想聽","syncedLyrics":"[00:27.38] 空間是一格半 誰也出不去\n[00:35.55] 幾寸也不滿意\n[00:37.95]
        思想是循環 溫飽思淫慾\n[00:46.67] 真理就是沒真理\n[00:48.59] \n[00:59.62] 在成人之前 真想先成為自己\n[01:07.51]
        在世界毀滅之前 真想先毀滅自己\n[01:20.11] \n[01:31.01] 我向我看齊 於是一直往下去\n[01:38.54] 沒人在看你\n[01:40.66]
        萬物皆有靈 隻是我太空虛\n[01:51.61] \n[02:02.72] 在成人之前 真想先成為自己\n[02:10.52] 在世界毀滅之前 真想先毀滅自己\n[02:21.33]
        真理就是沒真理\n[02:26.21] 那誰想聽 那誰想聽\n[02:32.57] "}'
  recorded_at: Mon, 09 Dec 2024 10:03:44 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=valentin%20strykalo&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImE0NmRkZTg5NzkxZGE0ODQ2MGYwMTRkMjQwYzIxY2ZmIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offse[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentin%20Strykalo&track_name=%D0%9A%D0%B0%D0%B9%D0%B5%D0%BD
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Mon, 09 Dec 2024 10:04:12 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentina%20Lisitsa&track_name=Etude%20Op.%2025%20no.%209%20in%20G%20Flat%20Major
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Mon, 09 Dec 2024 10:04:13 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentin%20Strykalo&track_name=%D0%91%D0%B5%D1%81%D0%BF%D0%BE%D0%BB%D0%B5%D0%B7%D0%BD%D0%BE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Mon, 09 Dec 2024 10:04:14 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentina%20Lisitsa&track_name=Etude%20Op.%2010%20no.%201%20in%20C%20Major
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Mon, 09 Dec 2024 10:04:16 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentin%20Strykalo&track_name=%D0%97%D0%BD%D0%B0%D0%B5%D1%88%D1%8C,%20%D0%A2%D0%B0%D0%BD%D1%8F
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":10363205,"name":"Знаешь, Таня","trackName":"Знаешь, Таня","artistName":"Valentin
        Stry[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=%E5%91%8A%E4%BA%94%E4%BA%BA&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImEwNDk4NjMyNDc3Njc0Y2QwYWY4MzkzN2FmMGM5YmYwIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/sear[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%BE%9E%E6%9C%AA%E8%A6%8B%E9%81%8E%E7%9A%84%E6%B5%B7%20(Netflix%20%E5%BD%B1%E9%9B%86%E3%80%8A%E5%BD%B1%E5%90%8E%E3%80%8B%E5%BA%8F%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Mon, 09 Dec 2024 10:04:19 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E6%84%9B%E4%BA%BA%E9%8C%AF%E9%81%8E
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6478155,"name":"愛人錯過","trackName":"愛人錯過","artistName":"告五人","albumName":"我肯定在幾百年前就說過愛你","duration":292.0,"instrum[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E6%8A%AB%E6%98%9F%E6%88%B4%E6%9C%88%E7%9A%84%E6%83%B3%E4%BD%A0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":7375139,"name":"披星戴月的想你","trackName":"披星戴月的想你","artistName":"告五人","albumName":"我肯定在幾百年[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%B8%B6%E6%88%91%E5%8E%BB%E6%89%BE%E5%A4%9C%E7%94%9F%E6%B4%BB
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6355644,"name":"帶我去找夜生活","trackName":"帶我去找夜生活","artistName":"告五人","albumName":"帶我去找夜生活[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=No%20Party%20for%20Cao%20Dong&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImMyMTljY2Y5OTU4NmQ3NDQyMWNiNWU3YzBkNDFlNDM2Ig=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/se[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E7%88%9B%E6%B3%A5
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Mon, 09 Dec 2024 10:04:25 GMT
[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=<REDACTED>&client_secret=<REDACTED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 2eee004be05151d1
    body:
      encoding: UTF-8
      string: '{"access_token":"<REDACTED>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 16 Dec 2024 05:07:31 GMT
recorded_with: VCR 6.3.1
