---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=<REDACTED>&client_secret=<REDACTED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - d314aa3851516197
    body:
      encoding: UTF-8
      string: '{"access_token":"<REDACTED>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 09 Dec 2024 09:57:01 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=valentin%20strykalo&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-Ijk1YjA2MjlhMmFkMTU0YTY3ZDQxMmU1NjliN2Y0MjFmIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=5&query=valentin%20strykalo&type=track&market=TW","limit":5,"next":"https://api.spotify.com/v1/search?offset=5&limit=5&query=valentin%20strykalo&type=track&market=TW","offset":0,"previous":null,"total":835,"items":[{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2zYmwYLeJvcr8vRQe5pQRa"},"href":"https://api.spotify.com/v1/artists/2zYmwYLeJvcr8vRQe5pQRa","id":"2zYmwYLeJvcr8vRQe5pQRa","name":"Valentin
        Strykalo","type":"artist","uri":"spotify:artist:2zYmwYLeJvcr8vRQe5pQRa"}],"external_urls":{"spotify":"https://open.spotify.com/album/20YkqA8ivmBOheN4QGjp1V"},"href":"https://api.spotify.com/v1/albums/20YkqA8ivmBOheN4QGjp1V","id":"20YkqA8ivmBOheN4QGjp1V","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273c57d665b700dc1d788b1c00d"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02c57d665b700dc1d788b1c00d"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851c57d665b700dc1d788b1c00d"}],"is_playable":true,"name":"Развлечение","release_date":"2016-10-13","release_date_precision":"day","total_tracks":8,"type":"album","uri":"spotify:album:20YkqA8ivmBOheN4QGjp1V"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2zYmwYLeJvcr8vRQe5pQRa"},"href":"https://api.spotify.com/v1/artists/2zYmwYLeJvcr8vRQe5pQRa","id":"2zYmwYLeJvcr8vRQe5pQRa","name":"Valentin
        Strykalo","type":"artist","uri":"spotify:artist:2zYmwYLeJvcr8vRQe5pQRa"}],"disc_number":1,"duration_ms":424380,"explicit":false,"external_ids":{"isrc":"ushm81647761"},"external_urls":{"spotify":"https://open.spotify.com/track/5JbxiG90IN2anqHToMdlGT"},"href":"https://api.spotify.com/v1/tracks/5JbxiG90IN2anqHToMdlGT","id":"5JbxiG90IN2anqHToMdlGT","is_local":false,"is_playable":true,"name":"Бесполезно","popularity":52,"preview_url":null,"track_number":7,"type":"track","uri":"spotify:track:5JbxiG90IN2anqHToMdlGT"},{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0gOrXuu1vCBXe3pwTyb5Ca"},"href":"https://api.spotify.com/v1/artists/0gOrXuu1vCBXe3pwTyb5Ca","id":"0gOrXuu1vCBXe3pwTyb5Ca","name":"Valentina
        Lisitsa","type":"artist","uri":"spotify:artist:0gOrXuu1vCBXe3pwTyb5Ca"}],"external_urls":{"spotify":"https://open.spotify.com/album/47UHGOGmGyHRTiilpNSrjy"},"href":"https://api.spotify.c[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentin%20Strykalo&track_name=%D0%91%D0%B5%D1%81%D0%BF%D0%BE%D0%BB%D0%B5%D0%B7%D0%BD%D0%BE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:53:19 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentina%20Lisitsa&track_name=Etude%20Op.%2025%20no.%209%20in%20G%20Flat%20Major
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:53:20 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentin%20Strykalo&track_name=%D0%97%D0%BD%D0%B0%D0%B5%D1%88%D1%8C,%20%D0%A2%D0%B0%D0%BD%D1%8F
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":10363205,"name":"Знаешь, Таня","trackName":"Знаешь, Таня","artistName":"Valentin
        Strykalo","albumName":"Часть чего-то большего","duration":274.0,"instrumental":false,"plainLyrics":"Если
        Таня думает, что я по ней грущу — она права\nЕсли Таня думает, что я всё упущу
        — она права\nГде же взять мне смелость, чтоб, чтоб сказать ей пару слов?\n\nЗнаешь,
        Таня, не передать словами то, как я люблю тебя\nМежду нами такая пропасть,
        Таня, но я так люблю тебя\n\nНе сплю я, потому что мне никак не удаётся не
        грустить\nЯ ночью мну подушку, а Таню мнёт другой какой-то тип\nТаня, Таня,
        объясни: как набраться смелости?\n\nЗнаешь, Таня, не передать словами то,
        как я люблю тебя (у-у!)\nМежду нами такая пропасть, Таня, но я так люблю тебя\nЯ
        так люблю тебя\n\nДве семёрки, 90, 100\nТвой мобильный — он такой простой\nПросто
        звоню и дышу, но я когда-то скажу\nГлавные эти слова\n\nЗнаешь, Таня, не передать
        словами то, как я люблю тебя (у-у!)\nМежду нами такая пропасть, Таня, но я
        так люблю тебя\nЯ так люблю тебя","syncedLyrics":"[00:18.76] Если Таня думает,
        что я по ней грущу — она права\n[00:28.93] \n[00:32.28] Если Таня думает,
        что я всё упущу — она права\n[00:47.34] Где же взять мне смелость, чтоб, чтоб
        сказать ей пару слов?\n[00:58.08] Знаешь, Таня, не передать словами то, как
        я люблю тебя\n[01:13.15] \n[01:17.03] Между нами такая пропасть, Таня, но
        я так люблю тебя\n[01:31.55] \n[01:47.65] Не сплю я, потому что мне никак
        не удаётся не грустить\n[01:59.32] \n[02:01.66] Я ночью мну подушку, а Таню
        мнёт другой какой-то тип\n[02:13.73] \n[02:16.81] Таня, Таня, объясни: как
        набраться смелости?\n[02:27.95] Знаешь, Таня, не передать словами то, как
        я люблю тебя (у-у!)\n[02:43.75] \n[02:46.45] Между нами такая пропасть, Таня,
        но я так люблю тебя\n[02:59.23] Я так люблю тебя\n[03:07.88] Две семёрки,
        90, 100\n[03:13.77] \n[03:17.34] Твой мобильный — он такой простой\n[03:26.59]
        Просто звоню и дышу, но я когда-то скажу\n[03:36.82] Главные эти слова\n[03:45.34]
        Знаешь, Таня, не передать словами то, как я люблю тебя (у-у!)\n[04:04.28]
        Между нами такая пропасть, Таня, но я так люблю тебя\n[04:17.25] Я так люблю
        тебя\n[04:19.43] "}'
  recorded_at: Sun, 22 Dec 2024 08:53:21 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentina%20Lisitsa&track_name=Etude%20Op.%2010%20no.%201%20in%20C%20Major
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:53:22 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Valentin%20Strykalo&track_name=%D0%9A%D0%BB%D0%B0%D0%B4%D0%B1%D0%B8%D1%89%D0%B5%20%D1%81%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":10321127,"name":"Кладбище самолетов","trackName":"Кл[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=%E5%91%8A%E4%BA%94%E4%BA%BA&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImM5YmNkMjg3MGZiOWIzOGE1NmZkNjViYjZmZWMyZjRmIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/sear[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%BE%9E%E6%9C%AA%E8%A6%8B%E9%81%8E%E7%9A%84%E6%B5%B7%20(Netflix%20%E5%BD%B1%E9%9B%86%E3%80%8A%E5%BD%B1%E5%90%8E%E3%80%8B%E5%BA%8F%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:53:25 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Jony%20J,%20Gai&track_name=%E5%A5%97%E8%B7%AF
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":13582531,"name":"套路","trackName":"套路","artistName":"Jony J, Gai","albumName":"物女金","duration":188.0,"instrumental":false,"plainLyrics":"當你開始擔心沒[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E6%84%9B%E4%BA%BA%E9%8C%AF%E9%81%8E
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6478155,"name":"愛人錯過","trackName":"愛人錯過","artistName":"告五人","albumName":"我肯定在幾百年前就說過愛你","duration":292.0,"instrum[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E6%8A%AB%E6%98%9F%E6%88%B4%E6%9C%88%E7%9A%84%E6%83%B3%E4%BD%A0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":7375139,"name":"披星戴月的想你","trackName":"披星戴月的想你","artistName":"告五人","albumName":"我肯定在幾百年[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E7%BD%97%E6%A3%AE%E6%B6%9B&track_name=%E5%B0%8F%E5%AD%A9
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":12430303,"name":"小孩","trackName":"小孩","artistName":"罗森涛","albumName":"为何离开","duration":220.0,"instrumental":false,"plainLyrics":"聽了幾遍苦情歌
        歌詞比我們快樂\n不敢放的手幹脆就這樣耗著\n分分合合 重蹈覆轍\n熱情褪去只剩下不捨\n那些惹人哭的承諾\n讓兩個人沉默\n都知道沒結果 放任回憶
        變成摺磨 噢噢\n不適的關繫一拖再拖 妳也默契的配合我\n該怎麼做 該怎麼說 該怎麼去放過\n愛讓人像小孩 怕一個人孤單\n明知道有的人走不到最後卻還是太依賴\n不願說bye\n一覺醒來又對我們充滿好多期待\n愛讓我像小孩
        怕沒人說晚安\n習慣有人陪伴就不願再分開\n不想時間停擺 不想要有遺憾\n卻忽略了我們不會再有任何 未來\n那些惹人哭的承諾\n讓兩個人沈默\n都知道沒結果
        放任回憶 變成摺磨 噢噢\n不適的關繫一拖再拖 妳也默契的配合我\n該怎麼做 該怎麼說 該怎麼去放過\n愛讓人像小孩\n怕一個人孤單\n明知道有的人走不到最後卻還是太依賴\n不願說bye\n一覺醒來又對我們充滿好多期待\n愛讓我像小孩
        怕沒人說晚安\n習慣有人陪伴就不願再分開\n不想時間停擺 不想要有遺憾\n卻忽略了我們不會再有任何 未來\n愛讓我像小孩 怕沒人說晚安\n習慣有人陪伴就不願再分開\n不想時間停擺
        不想要有遺憾","syncedLyrics":null}'
  recorded_at: Sun, 22 Dec 2024 08:53:29 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&market=TW&q=%E5%91%8A%E4%BA%94%E4%BA%BA%20%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjU5ZGZlMjhhMjQwOGZlYmIwN2YzMzU3ZmJjNDRmMGEzIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93%20(%E3%80%8A%E8%8F%AF%E7%87%88%E5%88%9D%E4%B8%8A%E3%80%8B%E7%89%87%E5%B0%BE%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6931148,"name":"好不容易 (《華燈初上[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=No%20Party%20for%20Cao%20Dong&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjA4NDE1MzA4M2UwMjYzNmYxMmRiNDgwNjA1NDc3Y2EyIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/se[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E5%B1%B1%E6%B5%B7
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9128396,"name":"山海","trackName":"山海","artistName":"No Party For
        Cao Dong","albumName":"醜奴兒","duration":251.053,"instrumental":false,"plainLyrics":"我看著
        天真的我自己\n出現在 沒有我的故事裡\n等待著 我的回應\n一個為何至此 的原因\n\n他明白 他明白 我給不起\n於是轉身向山裡走去\n他明白
        他明白 我給不起\n於是轉身向大海走去\n\n我聽著那少年的聲音\n在還有未來的過去\n渴望著美好結局\n卻沒能成為自己\n\n他明白 他明白 我給不起\n於是轉身向山裡走去\n他明白
        他明白 我給不起\n於是轉身向大海走去","syncedLyrics":"[00:25.23] 我看著 天真的我自己\n[00:35.07] \n[00:37.43]
        出現在 沒有我的故事裡\n[00:49.28] 等待著 我的回應\n[00:58.75] 一個為何至此 的原因\n[01:09.44] \n[01:13.09]
        他明白 他明白 我給不起\n[01:20.54] 於是轉身向山裡走去\n[01:25.19] 他明白 他明白 我給不起\n[01:32.57] 於是轉身向大海走去\n[01:38.02]
        \n[02:37.19] 我聽著那少年的聲音\n[02:44.78] 在還有未來的過去\n[02:49.30] 渴望著美好結局\n[02:56.73]
        卻沒能成為自己\n[03:00.97] 他明白 他明白 我給不起\n[03:08.56] 於是轉身向山裡走去\n[03:12.96] 他明白 他明白
        我給不起\n[03:20.61] 於是轉身向大海走去\n[03:25.05] "}'
  recorded_at: Sun, 22 Dec 2024 08:53:59 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=YanBi,%20TYO%20Ly%20,%20Lil%20Wuyn,%20SMO&track_name=Let%27s%20Party
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:54:00 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E4%BD%86
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":14759732,"name":"但","trackName":"但","artistName":"No Party For
        Cao Dong","albumName":"瓦合","duration":142.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Sun, 22 Dec 2024 08:54:01 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E5%BA%8A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9323695,"name":"床","trackName":"床","artistName":"No Party for
        Cao Dong","albumName":"瓦合","duration":232.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Sun, 22 Dec 2024 08:54:02 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Gill,%20RPT%20Orijinn,%20Mason%20Nguyen&track_name=%C4%90i%20Bao%20Xa%20(Da%20Bouncy)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:54:03 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=No%20Party%20For%20Cao%20Dong%20%E5%B1%B1%E6%B5%B7&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjU5NWNjZjM2MTJmZjc5MmMxNjIzYTBjMmU1NWU0MzBiIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Kh%C3%A1c%20H%E1%BB%8D%20Records,%20X2C,%20LNGY,%20Da%20Claus,%20DJ%20Tzo,%20TraceD&track_name=N%C3%A2ng%20Ly
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 22 Dec 2024 08:54:05 GMT
[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=<REDACTED>&client_secret=<REDACTED>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 3e4013d18c369be9
    body:
      encoding: UTF-8
      string: '{"access_token":"<REDACTED>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sun, 22 Dec 2024 09:04:23 GMT
recorded_with: VCR 6.3.1
