---
http_interactions:
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":11739203,"name":"好不容易","trackName":"好不容易","artistName":"告五人","albumName":"好不容易","duration":295.0,"instrumental":false,"plainLyrics":"城市滴答
        小巷滴答 沈默滴答\n你的手慢熱的體溫\n方向錯亂 天氣預報 不準 雨傘忘了拿\n我的手無處安放\n包括我的心 像旋轉木馬\n\n或許這就是註定\n註定失敗的結局\n成熟帶來的孤寂\n如滾水在心中滿溢\n\n我的心
        你放在哪裡\n或許你 根本就不在意\n錯把承諾當有趣\n怎麼對得起 你我炙熱的痕跡\n\n你的心 你放在哪裡\n再追究 也毫無意義\n接受慌亂的思緒\n總比到頭來
        面對無聲的失去\n無法開口 說聲好不容易\n\n城市滴答 小巷滴答 沈默滴答\n你的手慢熱的體溫\n方向錯亂 天氣預報 不準 雨傘忘了拿\n我的手無處安放\n包括我的心
        像旋轉木馬\n\n或許這就是註定\n註定失敗的結局\n成熟帶來的孤寂\n如滾水在心中滿溢\n\n我的心 你放在哪裡\n或許你 根本就不在意\n錯把承諾當有趣\n怎麼對得起
        你我炙熱的痕跡\n\n你的心 你放在哪裡\n再追究 也毫無意義\n接受慌亂的思緒\n總比到頭來 面對無聲的失去\n無法開口 說聲好不容易\nWoo
        woo woo woo woo woo\n\n我的心 你放在哪裡\n或許我 也不再沈迷\n結束不安的遊戲\n認輸就可以 自由自在的掏心\n終於開口\n說聲好不容易","syncedLyrics":"[00:35.47]
        城市滴答 小巷滴答 沈默滴答\n[00:38.96] 你的手慢熱的體溫\n[00:41.44] 方向錯亂 天氣預報 不準 雨傘忘了拿\n[00:45.61]
        我的手無處安放\n[00:48.07] 包括我的心 像旋轉木馬\n[00:54.16] \n[00:58.11] 或許這就是註定\n[01:03.42]
        註定失敗的結局\n[01:09.04] 成熟帶來的孤寂\n[01:14.75] 如滾水在心中滿溢\n[01:21.72] 我的心 你放在哪裡\n[01:27.15]
        或許你 根本就不在意\n[01:32.38] 錯把承諾當有趣\n[01:37.83] 怎麼對得起 你我炙熱的痕跡\n[01:44.16] 你的心 你放在哪裡\n[01:49.45]
        再追究 也毫無意義\n[01:54.99] 接受慌亂的思緒\n[01:59.82] 總比到頭來 面對無聲的失去\n[02:05.76] 無法開口 說聲好不容易\n[02:15.47]
        城市滴答 小巷滴答 沈默滴答\n[02:18.25] 你的手慢熱的體溫\n[02:20.97] 方向錯亂 天氣預報 不準 雨傘忘了拿\n[02:24.60]
        我的手無處安放\n[02:27.78] 包括我的心 像旋轉木馬\n[02:34.14] \n[02:37.03] 或許這就是註定\n[02:42.70]
        註定失敗的結局\n[02:48.27] 成熟帶來的孤寂\n[02:54.05] 如滾水在心中滿溢\n[03:01.22] 我的心 你放在哪裡\n[03:06.10]
        或許你 根本就不在意\n[03:11.95] 錯把承諾當有趣\n[03:17.41] 怎麼對得起 你我炙熱的痕跡\n[03:23.47] 你的心 你放在哪裡\n[03:28.81]
        再追究 也毫無意義\n[03:34.16] 接受慌亂的思緒\n[03:39.38] 總比到頭來 面對無聲的失去\n[03:44.89] 無法開口 說聲好不容易\n[03:52.37]
        Woo woo woo woo woo woo\n[04:01.70] \n[04:23.50] 我的心 你放在哪裡\n[04:28.23] 或許我
        也不再沈迷\n[04:33.61] 結束不安的遊戲\n[04:39.41] 認輸就可以 自由自在的掏心\n[04:45.29] 終於開口\n[04:49.30]
        說聲好不容易\n[04:53.81] "}'
  recorded_at: Sun, 24 Nov 2024 07:55:11 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=NO_ARTIST&track_name=%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 24 Nov 2024 07:55:12 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=BAD_NAME
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sun, 24 Nov 2024 07:55:14 GMT
recorded_with: VCR 6.3.1
