---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=Vivaldi&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Vivaldi&type=track&market=TW&offset=0&limit=5",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4dl2as3pdCgkcctBVPhB8A"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4dl2as3pdCgkcctBVPhB8A",
                  "id" : "4dl2as3pdCgkcctBVPhB8A",
                  "name" : "Baroque Festival Orchestra",
                  "type" : "artist",
                  "uri" : "spotify:artist:4dl2as3pdCgkcctBVPhB8A"
                }, {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0Qp8qtErJojNxfgKmV3INb"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0Qp8qtErJojNxfgKmV3INb",
                  "id" : "0Qp8qtErJojNxfgKmV3INb",
                  "name" : "I Musici Di San Marco",
                  "type" : "artist",
                  "uri" : "spotify:artist:0Qp8qtErJojNxfgKmV3INb"
                }, {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/3ti3DSNOdg2yPshkZsriGa"
                  },
                  "href" : "https://api.spotify.com/v1/artists/3ti3DSNOdg2yPshkZsriGa",
                  "id" : "3ti3DSNOdg2yPshkZsriGa",
                  "name" : "Alberto Lizzio",
                  "type" : "artist",
                  "uri" : "spotify:artist:3ti3DSNOdg2yPshkZsriGa"
                } ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/2bP8L39GYpPSN2wnNqTJJr"
                },
                "href" : "https://api.spotify.com/v1/albums/2bP8L39GYpPSN2wnNqTJJr",
                "id" : "2bP8L39GYpPSN2wnNqTJJr",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273b9d4ed70ea90d00612a3f3a7",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02b9d4ed70ea90d00612a3f3a7",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851b9d4ed70ea90d00612a3f3a7",
                  "width" : 64
                } ],
                "is_playable" : true,
                "name" : "Vivaldi - The Four Seasons",
                "release_date" : "1994-07-01",
                "release_date_precision" : "day",
                "total_tracks" : 18,
                "type" : "album",
                "uri" : "spotify:album:2bP8L39GYpPSN2wnNqTJJr"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4dl2as3pdCgkcctBVPhB8A"
                },
                "href" : "https://api.spotify.com/v1/artists/4dl2as3pdCgkcctBVPhB8A",
                "id" : "4dl2as3pdCgkcctBVPhB8A",
                "name" : "Baroque Festival Orchestra",
                "type" : "artist",
                "uri" : "spotify:artist:4dl2as3pdCgkcctBVPhB8A"
              }, {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3ti3DSNOdg2yPshkZsriGa"
                },
                "href" : "https://api.spotify.com/v1/artists/3ti3DSNOdg2yPshkZsriGa",
                "id" : "3ti3DSNOdg2yPshkZsriGa",
                "name" : "Alberto Lizzio",
                "type" : "artist",
                "uri" : "spotify:artist:3ti3DSNOdg2yPshkZsriGa"
              } ],
              "disc_number" : 1,
              "duration_ms" : 176040,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "AUV401447961"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/0MvjUr7fKzchb49tt3OrMS"
              },
              "href" : "https://api.spotify.com/v1/tracks/0MvjUr7fKzchb49tt3OrMS",
              "id" : "0MvjUr7fKzchb49tt3OrMS",
              "is_local" : false,
              "is_playable" : true,
              "name" : "Summer (L'Estate) Op.8 No.2 G Minor: Presto (Tempo Impettuoso d'Estate)",
              "popularity" : 61,
              "preview_url" : "https://p.scdn.co/mp3-preview/b6cc3122a03b9398ff851bbd63c17264fe172a80?cid=<REDACTED>",
              "track_number" : 6,
              "type" : "track",
              "uri" : "spotify:track:0MvjUr7fKzchb49tt3OrMS"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5aIqB5nVVvmFsvSdExz408"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5aIqB5nVVvmFsvSdExz408",
                  "id" : "5aIqB5nVVvmFsvSdExz408",
 [...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Baroque%20Festival%20Orchestra,%20Alberto%20Lizzio&track_name=Summer%20(L%27Estate)%20Op.8%20No.2%20G%20Minor:%20Presto%20(Tempo%20Impettuoso%20d%27Estate)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":4733159,"name":"Summer (L''Estate) Op.8 No.2 G Minor: Presto
        (Tempo Impettuoso d''Estate)","trackName":"Summer (L''Estate) Op.8 No.2 G
        Minor: Presto (Tempo Impettuoso d''Estate)","artistName":"Baroque Festival
        Orchestra/Alberto Lizzio","albumName":"Vivaldi - The Four Seasons","duration":176.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Sat, 16 Nov 2024 12:26:36 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Antonio%20Vivaldi,%20Europa%20Galante,%20Fabio%20Biondi&track_name=Vivaldi:%20Concerto%20funebre%20in%20B-Flat%20Major,%20RV%20579:%20I.%20Largo
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sat, 16 Nov 2024 12:26:37 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Antonio%20Vivaldi,%20%E8%89%BE%E7%B1%B3%E5%B8%8C%E5%8F%A4%E5%85%B8%E7%BE%8E%E5%AD%B8&track_name=%E5%9B%9B%E5%AD%A3
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sat, 16 Nov 2024 12:26:38 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Timmy%20Trumpet,%20Mariana%20BO&track_name=Vivaldi
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6635431,"name":"Vivaldi","trackName":"Vivaldi","artistName":"Timmy
        Trumpet, Mariana Bo","albumName":"Vivaldi","duration":160.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Sat, 16 Nov 2024 12:26:40 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=Antonio%20Vivaldi,%20Florian%20Christl&track_name=Vivaldi%20Variation%20(Arr.%20for%20Piano%20from%20Concerto%20for%20Strings%20in%20G%20Minor,%20RV%20156%20by%20F.%20Christl)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":12055431,"name":"Vivaldi Variation (Arr. for Piano from Concerto
        for Strings in G Minor, RV 156 by F. Christl)","trackName":"Vivaldi Variation
        (Arr. for Piano from Concerto for Strings in G Minor, RV 156 by F. Christl)","artistName":"Antonio
        Vivaldi, Florian Christl","albumName":"Vivaldi Variation (Arr. for Piano from
        Concerto for Strings in G Minor, RV 156 by F. Christl)","duration":112.0,"instrumental":true,"plainLyrics":null,"syncedLyrics":null}'
  recorded_at: Sat, 16 Nov 2024 12:26:41 GMT
recorded_with: VCR 6.3.1
