---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=5&market=TW&q=%E5%91%8A%E4%BA%94%E4%BA%BA&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=%E5%91%8A%E4%BA%94%E4%BA%BA&type=track&market=TW&offset=0&limit=5",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6xErgeZYatiaQ36SB5bvi8"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6xErgeZYatiaQ36SB5bvi8",
                  "id" : "6xErgeZYatiaQ36SB5bvi8",
                  "name" : "告五人",
                  "type" : "artist",
                  "uri" : "spotify:artist:6xErgeZYatiaQ36SB5bvi8"
                } ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7yvCk24AtE9k0vLcolSs2i"
                },
                "href" : "https://api.spotify.com/v1/albums/7yvCk24AtE9k0vLcolSs2i",
                "id" : "7yvCk24AtE9k0vLcolSs2i",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2737a2aff746e4093fecd950130",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e027a2aff746e4093fecd950130",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048517a2aff746e4093fecd950130",
                  "width" : 64
                } ],
                "is_playable" : true,
                "name" : "我肯定在幾百年前就說過愛你",
                "release_date" : "2019-06-14",
                "release_date_precision" : "day",
                "total_tracks" : 11,
                "type" : "album",
                "uri" : "spotify:album:7yvCk24AtE9k0vLcolSs2i"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6xErgeZYatiaQ36SB5bvi8"
                },
                "href" : "https://api.spotify.com/v1/artists/6xErgeZYatiaQ36SB5bvi8",
                "id" : "6xErgeZYatiaQ36SB5bvi8",
                "name" : "告五人",
                "type" : "artist",
                "uri" : "spotify:artist:6xErgeZYatiaQ36SB5bvi8"
              } ],
              "disc_number" : 1,
              "duration_ms" : 292074,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "TWFF51900001"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/27FOde2nUw0pFuj7hlPbaS"
              },
              "href" : "https://api.spotify.com/v1/tracks/27FOde2nUw0pFuj7hlPbaS",
              "id" : "27FOde2nUw0pFuj7hlPbaS",
              "is_local" : false,
              "is_playable" : true,
              "name" : "愛人錯過",
              "popularity" : 60,
              "preview_url" : "https://p.scdn.co/mp3-preview/c9db87ce67859e3c0589259a23ce221efd5581eb?cid=<REDACTED>",
              "track_number" : 1,
              "type" : "track",
              "uri" : "spotify:track:27FOde2nUw0pFuj7hlPbaS"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6xErgeZYatiaQ36SB5bvi8"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6xErgeZYatiaQ36SB5bvi8",
                  "id" : "6xErgeZYatiaQ36SB5bvi8",
 [...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E6%84%9B%E4%BA%BA%E9%8C%AF%E9%81%8E
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6478155,"name":"愛人錯過","trackName":"愛人錯過","artistName":"告五人","albumName":"我肯定在幾百年前就說過愛你","duration":292.0,"instrumental":false,"plainLyrics":"我肯定在幾百年前就說過愛你\n只是你忘了
        我也沒記起\n我肯定在幾百年前就說過愛你\n只是你忘了 我也沒記起\n\n走過 路過 沒遇過\n回頭 轉頭 還是錯\n你我不曾感受過\n相撞在街口
        相撞在街口\n\n你媽沒有告訴你\n撞到人要說對不起\n本來今天好好的\n愛人就錯過 愛人就錯過\n\n我肯定在幾百年前就說過愛你\n只是你忘了 我也沒記起\n我肯定在幾百年前就說過愛你\n只是你忘了
        我也沒記起\n\n走過 路過 沒遇過\n回頭 轉頭 還是錯\n你我不曾感受過\n相撞在街口 相撞在街口\n\n你媽沒有告訴你\n撞到人要說對不起\n本來今天好好的\n愛人就錯過
        愛人就錯過\n\n走過 路過 沒遇過\n回頭 轉頭 還是錯\n你我不曾感受過\n相撞在街口 相撞在街口\n\n你媽沒有告訴你\n撞到人要說對不起\n本來今天好好的\n愛人就錯過
        愛人就錯過 oh\n\n走過 路過 沒遇過\n回頭 轉頭 還是錯\n你我不曾感受過\n相撞在街口 相撞在街口\n\n你媽沒有告訴你\n撞到人要說對不起\n本來今天好好的\n愛人就錯過
        愛人就錯過\n\n走過 路過 沒遇過\n回頭 轉頭 還是錯\n你我不曾感受過\n相撞在街口 相撞在街口\n\n你媽沒有告訴你 (告訴你)\n撞到人要說對不起
        (對不起)\n本來今天好好的\n愛人就錯過 愛人就錯過","syncedLyrics":"[00:46.68] 我肯定在幾百年前就說過愛你\n[00:52.97]
        只是你忘了 我也沒記起\n[01:00.35] 我肯定在幾百年前就說過愛你\n[01:06.59] 只是你忘了 我也沒記起\n[01:14.03]
        走過 路過 沒遇過\n[01:17.47] 回頭 轉頭 還是錯\n[01:20.96] 你我不曾感受過\n[01:23.85] 相撞在街口 相撞在街口\n[01:27.73]
        你媽沒有告訴你\n[01:31.25] 撞到人要說對不起\n[01:34.54] 本來今天好好的\n[01:37.40] 愛人就錯過 愛人就錯過\n[01:42.02]
        \n[01:55.06] 我肯定在幾百年前就說過愛你\n[02:01.57] 只是你忘了 我也沒記起\n[02:08.81] 我肯定在幾百年前就說過愛你\n[02:15.28]
        只是你忘了 我也沒記起\n[02:22.65] 走過 路過 沒遇過\n[02:26.11] 回頭 轉頭 還是錯\n[02:29.53] 你我不曾感受過\n[02:32.31]
        相撞在街口 相撞在街口\n[02:36.27] 你媽沒有告訴你\n[02:39.69] 撞到人要說對不起\n[02:43.19] 本來今天好好的\n[02:46.29]
        愛人就錯過 愛人就錯過\n[02:50.02] 走過 路過 沒遇過\n[02:53.53] 回頭 轉頭 還是錯\n[02:56.98] 你我不曾感受過\n[02:59.85]
        相撞在街口 相撞在街口\n[03:03.74] 你媽沒有告訴你\n[03:07.20] 撞到人要說對不起\n[03:10.49] 本來今天好好的\n[03:13.62]
        愛人就錯過 愛人就錯過 oh\n[03:19.58] \n[03:44.88] 走過 路過 沒遇過\n[03:48.25] 回頭 轉頭 還是錯\n[03:51.82]
        你我不曾感受過\n[03:54.61] 相撞在街口 相撞在街口\n[03:58.62] 你媽沒有告訴你\n[04:01.99] 撞到人要說對不起\n[04:05.37]
        本來今天好好的\n[04:08.55] 愛人就錯過 愛人就錯過\n[04:12.24] 走過 路過 沒遇過\n[04:15.81] 回頭 轉頭 還是錯\n[04:19.26]
        你我不曾感受過\n[04:22.01] 相撞在街口 相撞在街口\n[04:25.98] 你媽沒有告訴你 (告訴你)\n[04:29.37] 撞到人要說對不起
        (對不起)\n[04:32.88] 本來今天好好的\n[04:35.94] 愛人就錯過 愛人就錯過\n[04:37.84] "}'
  recorded_at: Sat, 16 Nov 2024 10:09:49 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E6%8A%AB%E6%98%9F%E6%88%B4%E6%9C%88%E7%9A%84%E6%83%B3%E4%BD%A0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":7375139,"name":"披星戴月的想你","trackName":"披星戴月的想你","artistName":"告五人","albumName":"我肯定在幾百年[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%BE%9E%E6%9C%AA%E8%A6%8B%E9%81%8E%E7%9A%84%E6%B5%B7%20(Netflix%20%E5%BD%B1%E9%9B%86%E3%80%8A%E5%BD%B1%E5%90%8E%E3%80%8B%E5%BA%8F%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Failed to find specified track","name":"TrackNotFound","statusCode":404}'
  recorded_at: Sat, 16 Nov 2024 10:09:53 GMT
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%B0%B1%E8%AA%AA%E4%BD%A0%E6%83%B3%E8%AA%AA%E7%9A%84%20(%E9%9B%BB%E5%BD%B1%E3%80%8A%E7%82%BA%E6%88%91%E8%BE%A6%E4%B8%80%E5%A0%B4%E8%A5%BF%E5%BC%8F%E7%9A%84%E5%96%AA%E7%A6%AE%E3%80%8B%E4%B8%BB%E9%A1%8C%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=%E5%91%8A%E4%BA%94%E4%BA%BA&track_name=%E5%A5%BD%E4%B8%8D%E5%AE%B9%E6%98%93%20(%E3%80%8A%E8%8F%AF%E7%87%88%E5%88%9D%E4%B8%8A%E3%80%8B%E7%89%87%E5%B0%BE%E6%9B%B2)
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":6931148,"name":"好不容易 (《華燈初上[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&market=TW&q=No%20Party%20For%20Cao%20Dong%20%E5%B1%B1%E6%B5%B7&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=No+Par[...]
- request:
    method: get
    uri: https://lrclib.net/api/get?artist_name=No%20Party%20For%20Cao%20Dong&track_name=%E5%B1%B1%E6%B5%B7
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":9128396,"name":"山海","trackName":"山海","artistName":"No Party For
        Cao Dong","albumName":"醜奴兒","duration":251.053,"instrumental":false,"plainLyrics":"我看著
        天真的我自己\n出現在 沒有我的故事裡\n等待著 我的回應\n一個為何至此 的原因\n\n他明白 他明白 我給不起\n於是轉身向山裡走去\n他明白
        他明白 我給不起\n於是轉身向大海走去\n\n我聽著那少年的聲音\n在還有未來的過去\n渴望著美好結局\n卻沒能成為自己\n\n他明白 他明白 我給不起\n於是轉身向山裡走去\n他明白
        他明白 我給不起\n於是轉身向大海走去","syncedLyrics":"[00:25.23] 我看著 天真的我自己\n[00:35.07] \n[00:37.43]
        出現在 沒有我的故事裡\n[00:49.28] 等待著 我的回應\n[00:58.75] 一個為何至此 的原因\n[01:09.44] \n[01:13.09]
        他明白 他明白 我給不起\n[01:20.54] 於是轉身向山裡走去\n[01:25.19] 他明白 他明白 我給不起\n[01:32.57] 於是轉身向大海走去\n[01:38.02]
        \n[02:37.19] 我聽著那少年的聲音\n[02:44.78] 在還有未來的過去\n[02:49.30] 渴望著美好結局\n[02:56.73]
        卻沒能成為自己\n[03:00.97] 他明白 他明白 我給不起\n[03:08.56] 於是轉身向山裡走去\n[03:12.96] 他明白 他明白
        我給不起\n[03:20.61] 於是轉身向大海走去\n[03:25.05] "}'
  recorded_at: Sat, 16 Nov 2024 10:09:59 GMT
recorded_with: VCR 6.3.1
